.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divAgendamentos {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  p {
    font-size: 14px;
    padding: 16px;
  }
}

.btnPages {
  display: flex;
  button {
    width: 40px;
    margin: 5px;
  }
}
