.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 280px;
  padding: 0 16px;
  border: none;

  background-color: #020024;
  color: white;

  img {
    width: 150px;
    margin: 25px 25px 50px 25px;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: none;
    a {
      text-decoration: none;
      color: white;
      font-size: 18px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 10px;
}
